* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
    color:#fbbd10;
    background-color: floralwhite;
    font-size: 15px;
    line-height: 2.2em;
}

header {
   background-color:#fbbd10;
   color: white;
   padding: 20px;
   font-size: 20px;
}

h1{
    margin-top: 15px;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    margin: 50px 50px;
    padding: 20px auto;
    text-transform: uppercase;
}

.figuras{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.figuras .titulo_figura{
    text-transform: uppercase;
    font-weight: 600;
    padding: 2px 10px;
    margin-bottom: 15px;
}

.figuras .texto{
    font-weight: 600;
    margin-top: 5px;
}

.figuras #calcular__circulo input{
    margin-top: 20px;
}

.figuras #calcular__quadrado input{
    margin-top: 10px;
}

.figuras #btn_calcular_raio, #btn_calcular_quadrado{
    margin-top: 35px;
}

.figuras #btn_calcular_triangulo {
    margin-top: 22.5px;
}

#calcular__trianguloretangulo, #calcular__quadrado {
    border: 1px solid;
    border-radius: 5%;
    padding: 20px 20px;
}

#calcular__circulo {
    border: 1px solid;
    border-radius: 5%;
    padding: 20px 20px;
}

button {
    display: inline-block;
    margin: 10px 5px;
    padding: 5px 8px;
    background-color: #fbbd10;
    color: #fff;
    border: none;
}